

// --------------------------------------------------------------------------
//   TITLE
// --------------------------------------------------------------------------


#flash-message {
    position: relative;
}

.c-alert {
    @include textRg();
    border-radius: 3px;
    border: 1px solid transparent;
    line-height: map-fetch($button-height, baseWithBorder);
    margin-bottom: space(0.5);
    padding: 4px space(1) 0;
    position: relative;
}

.c-alert-danger {
    background-color: rgba( palette(bad-news), 0.1 );
    color: palette(bad-news);
}

.c-alert-success {
    background-color: rgba( palette(good-news), 0.1 );
    color: palette(good-news);
}
