rect(fill='none', width='80', height='80')
path(d='M43,21.26s-.49-6.73,2.52-6.74,5.22,4.25,5.22,4.25l-2.14.34.4,3.65h6l4.5-3,1.5,1.5-4.78,6.19-5.4,2.42L52,38.26H35.5S39.26,23.94,43,21.26Z')
path(d='M64.12,48.26l-6.12-3,3-1.5s.28-7.41,7.5-7.5c0,0,3,6.56-4.43,9Z')
path(d='M59.5,16.76l3,3,3-3s4.5,5.06,1.5,18h1.5s5.25-12.5-1.5-21l1.5-1.5L67,10.76Z')
polygon(points='56.5 18.37 52 21.26 55 21.26 57.91 19.76 56.5 18.37')
polygon(points='14.5 33.78 18.59 38.26 11.83 38.26 14.5 33.78')
path(d='M23.5,24.26l4.88,1.5H37l-.17-1.5-7.33-3L25,13.76V12.3l1.5,0s.9-4.35-3-4.52S19,12.47,19,12.47s-7.5,2.66-7.5,16.29L22,38.26h3Z')
polygon(points='28.39 28.08 25.22 29.69 26.27 32.3 31.55 28.08 28.39 28.08')
path(d='M19,45.26l3-1.5,2-3.25H7s-.43,6.81,5.44,8.72a49.38,49.38,0,0,1,5.23-2Z')
path(d='M56.5,40.51H34L30.77,45l-.92,4.18a8.33,8.33,0,0,0,.94.14c3.29.28,6-2.33,9.34-2.33,3.9,0,7.18,2.08,9.88,2.08l0,0A5.72,5.72,0,0,0,52.2,47.9,14.08,14.08,0,0,0,56.5,40.51Z')
path(d='M27.16,48.32l.68.25.16-.29v-3L36,29H34L25,43.76l-4.4,2.94h.55A18.55,18.55,0,0,1,27.16,48.32Z')
path(d='M67.44,54.14a5.81,5.81,0,0,1-4.83,3A8.17,8.17,0,0,1,57.06,55c-2.33,1.53-7,2.16-9.55.75l1.5-3a6.47,6.47,0,0,0,3.75.55c2.83-.57,3.75-3.64,3.75-3.64A6.4,6.4,0,0,0,62.35,53c4.16-.13,4.66-3.39,4.66-3.39a7.79,7.79,0,0,0,6,3.15v3.09S70.68,57.12,67.44,54.14Z')
path(d='M28,69.26a11.39,11.39,0,0,1-7.5,3c-3.47-.09-4.25-2.5-4.25-2.5l-4.75,2.5v-7.5l4.57,2.55c.11,0,1.92-1.18,2.14-1.27C22.33,64.27,26,65.65,28,69.26Z')
path(d='M36.43,58.75s-3-3.88-7.14-4.08-5,2.87-5,2.87l-4.78-2v6.6l4.15-2.32a6.55,6.55,0,0,0,5.54,2.32A9.66,9.66,0,0,0,36.43,58.75Z')
path(d='M51.5,64.77a8.77,8.77,0,0,0-5.5-3c-3.21-.2-4.91,2.85-4.91,2.85L37,63.27v6l3.58-2.86a5,5,0,0,0,4.31,2.86C49.38,69.27,51.5,64.77,51.5,64.77Z')