rect(fill='none', width='80', height='80')
polygon(points='70.75 72.9 9.25 72.9 13.75 64.1 39.25 64.1 57.25 53.6 69.25 59.6 70.75 72.9')
path(d='M24.63,17.46,17.87,37.8l6.38,9.8-4.5,13.5h11l-4.13-3.17,7.46-9.19L32,41.14l6.41,3.76L40.22,59l9.09-4.31L46.1,52.36l-.28-10L35.11,31.24,36.64,28l7.42,4.8L57.25,29.6l-1.5-3-10.42-2L34.06,16.13l.55-2.28,2.43.51s1.64-6.29-3.58-7.11C33.46,7.25,27.79,5,24.63,17.46Z')
polygon(points='55.75 32.6 49.75 34.1 51.25 50.6 54.25 50.6 55.75 32.6')
path(d='M21.45,16.19s-6.33-1.73-8.11,3S9.59,28.4,9.59,28.4L16,32.06Z')